body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    overflow: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(6.png);
    align-items: center;
    image-rendering: optimizeSpeed;
  }
  .title {
    font-size: 100px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .description {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    margin-bottom: 50px;
    color: #ffffff;
  }
  .buttons-container {
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 10px);
    text-align: center;
  }
  .button:hover {
    background-color: #ffa852;
  }
  .code-container {
    display: none;
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
    position: relative;
  }
  .code-container pre {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    overflow-x: auto;
  }
  .copy-button {
    position: absolute;
    top: -10px;
    right: 0px;
    padding: 5px 5px;
    background-color: #006904;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  .copy-button:hover {
    background-color: #218838;
  }
  .button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(
      100% 100% at 100% 0,
      #5adaff 0,
      #5468ff 100%
    );
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }

  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }

  .button-29:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }